* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 25px;
    background-color: rgb(0, 183, 229);
    /* position: fixed; */
    
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.menu {
    display: flex;
    list-style: none;
    /* position: fixed; */
}

.menu li {
    margin-left: 40px;
}

.menu li a {
    text-decoration: none; 
    color: #fff;
    font-size: 20px;
}

.banner {
    background-image: url(/image/tst2.jpg);
    background-size:cover;
    color: #fff;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerinfo {
    text-align: center;
}

.bannerinfo h1 {
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #fff;
}
/* .bannerinfo {
    border: 1px solid red;
} */

.bannerinfo p{
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.box{
    justify-content: right;
    text-align: right;
    align-items: right;
    border: 1px solid #333;
    margin-left: 50px;
}

.mypic{
    
    /* margin-right: 10px; */
    border: solid #333;
    margin-left: 50px;

    
    
}

.About{
    justify-content: left;
    text-align: left;
    margin-left: 0px;
    margin-top: 45px;
    font-size: 20px;
}

